

    <div class="container" >
        <div class="card-body">
        <div *ngFor="let vet of listaPreno" class="col-8 col-sm-3 ciao" >
            <span style="font-weight: bold;">From: </span>{{vet.from}}<br>
            <span style="font-weight: bold;">TO: </span>{{vet.to}} <br>
            <span style="font-weight: bold;">Name: </span>{{vet.name}} <br>
            <span style="font-weight: bold;">Surname: </span>{{vet.surname}} <br><br>
            <button (click)="mostraDati(vet.room)" class="button">Mostra dettagli stanza</button>
            <hr>
        </div>
    </div>
        
    </div>
